body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  margin: 10px;
  background: white
}

.title {
  background: lightblue;
  margin: 10px;
  padding: 5px;
  font-size: 16pt;
}

.content {
  background: lightblue;
  margin: 10px;
  padding: 5px;
  
}

.button-container {
  background: lightblue;
  padding: 5px;
  width: 370px;
  margin: auto;
}

button {
  display: block;
  background: white;
  border: 1px solid #eee;
  padding: 8px 24px
}